<div>
    <h6>Welcome to NextWeek Smart Forecast, your go-to weather planning tool!<br/>Our app helps you identify the best days
        in the coming week based on weather conditions. Follow these simple steps to get started:</h6>
    <div>
        <h5>Step 1: Enter Your Location</h5>
        <ul>
            <li>Grant the application location permission for accurate results.</li>
            <li>You can opt to enter location manually</li>
        </ul>
    </div>
    <div>
        <h5>Step 2: View Your Weekly Forecast</h5>
        <ul>
            <li>Once your location is set, our app will analyze the weather for the next 7 days.</li>
            <li>The days are ranked based on conditions such as temperature, rainfall, and wind speed.</li>
            <li>We highlight the best days for outdoor activities at the top of the list.</li>
        </ul>
    </div>
    <div>
        <button class="btn btn-primary my-2" (click)="switchPage()">Start Smart Forecast</button>
    </div>
    <div>
        <h5>Privacy Notice</h5>
        Your location data is used solely to provide accurate weather forecasts and is not stored or shared.
        <br/>Thank you for using NextWeek Smart Forecast. Stay prepared, stay smart, and make the most of your week!
    </div>

</div>