.app-bg {
    padding: 4px;
    width: 100%;
    color: white;
    min-height: 99vh;
    background: -webkit-linear-gradient(top, rgb(10, 65, 102) 0%, rgb(22, 147, 229) 75%, rgb(193, 229, 253) 100%);
}

.bi {
    font-weight: 600;
}

a {
    cursor: pointer;
}